@inherits System.Web.Mvc.WebViewPage

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Queue Thing</title>
</head>
<body>
<script src="~/scripts/jquery-1.9.1.js"></script>
<script src="~/scripts/jquery.signalR-2.1.2.js"></script>
<script src="~/scripts/knockout-3.4.0.js"></script>
<script src="/signalr/hubs"></script>
<script>
	$(function () {
		var connection = $.hubConnection();
		var hub = connection.createHubProxy("dashHub");
		hub.on("populateQueues",
			function(queues) {
				jQuery.each(queues, function(i, val) {
					$('#status').append('<li>' + val.Name+'='+val.Depth+'</li>');
				});
			});
		connection.start().done(function() {
			hub.invoke('hello');
		});
	})
</script>
<h1>Dynamic Queue Details</h1>
<div>
	<p>Status:</p>

	<ul id="status">
		<li>Loading hub...</li>
	</ul>
</div>
</body>
</html>

